
<h1><%= @artist.name %></h1>

<div class="artist">
<img src="<%= @artist.image_url %>" >
</div>

<div class="bio">
<h2><%= @artist.bio %></h2>
</div>



</br>
</br>
</br>


<div class="artistList">
<h1>Albums</h1>
  <% for album in @albums %>
  <ul>
    <li>

  <img src="<%= album.image_url %>" >
  <h2><font color="white">Title:</h2></font><h2><%= album.title %></h2>
  <h2><font color="white">Genre:</h2></font><h2><%= album.genre %></h2>
  <h2><font color="white">Format:</h2></font><h2><%= album.format %></h2>
  <h2><font color="white">Price:</h2></font><h2><%= album.price %></h2>
    </li>
  </ul>
  <% end %>


</div>
